
.header{
    z-index: 200; 
}

.header .MuiAppBar-root{
    background-color: var(--clr-logo-blue);
}

.admin_icon{
    margin-left: auto;
    margin-right: 5rem;
    width: 50px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;

    transition: scale .2s, rotate 3s;
    &:hover{
        scale: 1.2;
    }

    &:active{
        scale: 1.1;
        rotate: 1080deg;
    }
}