.footer{
    margin-top: auto;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    
    background-color: var(--clr-white);

    &-nav{
        &__link{
            display: inline-block;
            margin: 0 clamp(5vw,40px,8em) ;
            padding: 0.80em 0;
            color: var(--clr-black);
            transition: scale .2s, translate .2s, color .2s;

            &:hover{
                color: var(--clr-logo-blue);
                scale: 1.1;
                translate: 0 -5px;
            }

            &:active{
                scale: 1;
                translate: 0;
            }
        }
    }
}