.input-error{
    position: absolute;
    right: 1em;
    font-size: .8em;
    color: var(--clr-danger);
}

.input-error-image{
    position: absolute;
    left: 1em;
    bottom: -.2em;
    background-color: var(--clr-danger);
    font-size: .8em;
    color: var(--clr-white);
    padding: .5em;
    border-radius: .5em;
}