.modal__container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.11);
  
  z-index: 1100;

  position: fixed;
}

.modal__card {
  background-color: var(--clr-white);
  position: relative;
  padding: 1em;
  border-radius: 0.5em;
  max-width: 800px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-btn {
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
  transition: scale 0.5s, rotate 0.5s;

  &:hover {
    scale: 1.2;
    filter: brightness(0.9);
    rotate: -90deg;
  }
}


.modal__product-image{
  min-width: 150px;
  width: 100%;
  max-width: 300px;
}

@media screen and (width <= 765px) {
  .modal__card {
    margin-top: 4em;
  }
}
