.row_menu{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.menu-col{
    width: 90rem;
    height: 21.9rem;
    margin: 1rem;
    zoom: 43%;
}

.card__container{
    width: 90rem;
    height: 21.8rem;
    transition: 0.3s;
    border-radius: 4px;
    background-color: var( --clr-white);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    transition: 1s;
}
.card__container:hover{
    box-shadow: 0 0 45px #0583f276;
    transition: 1s;
    cursor: pointer;
}

.photo{
    height: 350px;
    width: 460px;
    overflow:hidden;
}

.banner{
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    margin-bottom: 2rem;
    background-image: url("banner.jpg");
    border-radius: 10px;
}

.menu-logo {
    height: 210px;
    width: 210px;
    margin-bottom: 1rem;
}

.photo img{
    height: 100%;
    width: 100%;
    margin-right: -20%;
    max-width: 120%;
    border-radius: 4px;
    transition: transform 0.4s ease;
    transform-origin: 1% 1% 1%;
    margin: 0;
    padding: 0;
}

.photo  img:hover{
    transform: scale(1.1);
    width: 100%;
}

.txt1{
    text-align: center;
    font-size: 1rem;
}

.content{
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -33px;
}

.category{
    width: 100%;
    height: 39px;
    background-color: #04acbf;
    color: white;
    position: relative;
    top: -35px;
    font-size: 1.8rem;
}

.category-title{
    padding: 30px 0 8px;
    position: relative;
    text-align: start;
    color: #3d6cc4;
    font-size: 1.5rem;
}

.category-link{
    width: 100%;
    display: block;
}

.txt4{
    text-align: start;
    margin-top: 5px;
    font-size:2.1rem;
    position: relative;
    top: -300px;
    margin-left: 350px;
    font-weight: 600;
}

.txt5{
    position: relative;
    text-align: center;
    top: 5px;
    color: #ffffff;
    font-size: 2.1rem;
}

.txt2{
    text-align: start;
    margin-left: 350px;
    position: relative;
    font-size: 1.8rem;
    top: -300px;
}

.card__price{
    width: 16%;
    height: 60px;
    top: -200px;
    background-color: #2c71ff;
    position: relative;
    border-radius: 2rem;
    
    margin-left: 480px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    .footer__box{
        box-shadow: #2c72ff8f 0px 0px 90px 0px;
    }
    
}

.card__old-price{
    width: 14%;
    height: 60px;
    background-color: #ffffff00;
    position: relative;
    top: -320px;
    margin-left: 730px;
}

.card__more{
    width: 5%;
    height: 60px;
    background-color: #2c71ff;
    position: relative;
    border-radius: 2rem;
    top: -257px;
    margin-left: 1330px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; 
}

.card__percentage{
    width: 7%;
    height: 60px;
    background-color: #ff0202;
    position: relative;
    border-radius: 2rem;
    top: -600px;
    margin-left: 1310px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; 
}

.btn-category{
    width: 12%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    background-color: #ffffff;
    position: relative;
    border-radius: 4px;
    color: rgba(0, 39, 235, 0.673);
    box-shadow: rgba(0, 39, 235, 0.673) 0px 0px 0px 2px;
}

.btn-category:hover{
    color: white;
    background-color: #0511f273;
}

.txt3{
    text-align: start;
    color: #0d6efd;
    position: relative;
    font-size: 1.8rem;
    top: -300px;
    margin-left: 350px;
}

@media screen and (max-width: 768px) {

    .row-category{
        margin: 0;
    }
    .btn-category{
        width: 50%;
    }

    .menu-col{
        width: 100%;
        zoom: 30% !important;
    }
}

@media screen and (max-width: 1500px) {
    .btn-category{
        width: 13%;
        margin-bottom: 0.5rem;
    }
    
}

@media  screen and (max-width: 1300px) {

    .btn-category{
        font-size: 1rem;
        width: 30%;
    }
    .menu-logo {
        height: 190px;
        width: 190px;
    }
    
}