.modal__action-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1em;
  gap: 1em;

}

.modal__ingredients-table{
  height: 120px;
  overflow: scroll;
  border-radius: .5em;
  border: 1px solid rgb(207, 203, 203);
}

.modal__container td + td{
  width: 10px;
  cursor: pointer;
}

.modal__card .text-area{
  height: 195px;
  resize: none;
}

.modal__product-image{
  border-radius: 1em;
  margin-bottom: 1em;
  text-align: center;
  cursor: pointer;
}

.modal__image-container{
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 1em;
}

.modal__image-container p{
  position: absolute;
  top: -.2em;
  left: .5em;
  background-color: var(--clr-logo-blue);
  color: white;
  padding: .5em;
  border-radius: .5em 0 .5em 0;
}

@media screen and (width <= 765px) {

  .modal__card .text-area{
    height: 100px;
  }

  .modal__ingredients-table{
    height: 100px;
  }

  .modal__image-container{
    height: 200px;
    width: 400px;
  }
  
  
}