.icons-container{
    padding: 0 .5em;
    cursor: pointer;
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.icon-card{
    font-size: 1em;
    display: flex;
    width: 200px;
    justify-content: center;
    gap: 1em;
    font-weight: bold;
    background-color: var(--clr-danger);
    padding: 1em;
    
    place-items: center;

    i{
        font-size: 1.2em;
    }
}