.row_order{
    margin-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.row-detail{
    width: 800px;
}

.order-col{
    width: 530px;
    height: 260px;
    display: block;
}

.order-col-detail{
    width: 500px;
    height: 260px;
    zoom: 60%;
    display: block;
    margin-bottom: 5rem !important;
}

.card__container-order{
    width: 430px;
    height: 260px;
    background-color: var( --clr-white);
    margin-left: 1rem;
    margin-right: 1rem;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    transition: 1s;
}

.card__container-order:hover{
    box-shadow: 0 0 45px #0583f276;
    transition: 1s;
}

.txt1-order{
    margin: auto;
    text-align: center;
    font-size: 17px;
}

.content-order{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -33px;
}

.content-order-detail{
    text-align: center;
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin: 1rem;
    margin-top: 3rem;
    top: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.053) 0px 3px 3px 3px;
    position: relative;
}

.card__footer-order-detail{
    width: 25%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0583F2;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    .footer__box{
        box-shadow: #0583f29b 0px 0px 90px 0px;
    }
    
}

.txt4-order{
    margin-top: 1px;
    font-size:1.9rem;
    position: relative;
    top: 20px;
}

.txt5-order{
    position: relative;
    text-align: center;
    top: 5px;
    color: #ffffff;
    font-size: 1.7rem;
}

.txt2-order{
    position: relative;
    font-size: 1.5rem;
}

.date-order{
    top: 0 !important;
    text-align: end;
    width: 80%;
}

.card__footer-order{
    width: 45%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0583F2;
    position: relative;
    top: 0px;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    .footer__box{
        box-shadow: #0583f29b 0px 0px 90px 0px;
    }
    
}

.txt3-order{
    color: #0d6efd;
    position: relative;
    font-size: 1.3rem;
    top: 10px;
}

.txt6-order{
    color: #5f5f5f;
    position: relative;
    font-size: 1.3rem;
    top: 10px;
}

.orders-title{
    color: #ffffff;
    padding: 1rem;
    background-color: gray;
    width: 20%;
    border-radius: 50px;
}

.order__container{
    width: 100%;
    height: 100%;
}

.Nuevo{
    background-color: red;
}

@media screen and (max-width: 1500px) {
    .row_order {
        margin-left: auto;
        margin-right:  auto;
    }
    
}


