.main {
  z-index: 100;
  display: flex;
  justify-content: center;

  &-content {
    width: 80%;
  }
}

.fixedwhatapp,
.fixedcall {
  position: fixed;
  width: 180px;
  height: 45px;
  margin: 0;
  padding: 0;

  right: -135px;
  z-index: 999;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  background: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.fixedcall {
  top: 48%;
}

.fixedwhatapp {
  top: calc(50% + 45px);
}
.fixedcall a,
.fixedwhatapp a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.fixedwhatapp a span,
.fixedcall a span {
  width: 45px;
  height: 45px;
  float: left;
  background: var(--clr-logo-blue);
  font-size: 25px;
  margin: 0 15px 0 0;
  text-align: center;
  line-height: 45px;
  color: #fff;
}
.fixedwhatapp a p,
.fixedcall a p {
  margin: 0;
  padding: 7px;
  color: var(--clr-logo-blue);
}
.fixedcall a svg,
.fixedwhatapp a svg {
  color: #fff;
}
.fixedcall:hover,
.fixedwhatapp:hover {
  right: 0;
}


