.tool-bar{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.dSZDRP{
    overflow-x: hidden;
    min-height: 550px !important;
    min-width: 1000px;
}

.btn-add{
    display: flex;
    gap: .5em;
}

.dSZDRP .btn{
    font-size: .85em;
}

.order_whatsapp{
    position: absolute;
    top: 10%;
    right: 5%;
    color: white !important;
    background-color: var(--clr-logo-green);
    padding: 1rem;
    font-size: 1em;
    border-radius: 50%;
    transition: all .5s;
    -webkit-user-drag: none;
}

.order_whatsapp:hover{
    scale: 1.2;
    rotate: 15deg;
}