:root {
  --clr-black: #222222;
  --clr-white: #ffffff;

  --clr-danger: #ec117f;

  --clr-light-gray: #fafafa;
  --clr-medium-gray:#929291;
  --clr-dark-gray: #706f6f;

  --clr-bg-main: #e8e8e8;

  --clr-logo-blue: #3d6cc4;
  --clr-logo-orange: #f18454;
  --clr-logo-green: #9abf22;
}



.new_order{
  background-color: var(--clr-logo-green)!important;
}

.preparing_order{
  background-color: var(--clr-logo-orange)!important;
}

.end_order{
  background-color: var(--clr-logo-blue)!important;
}

.cancel_order{
  background-color: var(--clr-danger)!important;
}