.ico {
    --icon-size: 1.2em;
    --image-url: "";
    font-size: var(--icon-size);
    position: relative;
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    color: currentColor;
  
    &::after {
      content: "";
      width: 100%;
      height: 120%;
      left: 0;
      position: absolute;
      background-color: currentColor;
  
      -webkit-mask-size: var(--icon-size), var(--icon-size);
      mask-size: var(--icon-size), var(--icon-size);
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-image: var(--image-url);
      mask-image:  var(--image-url);
    }
  }