
:where(*, *:after, *:before) {
  box-sizing: border-box;
  font-family: roboto,sans-serif;
}

*{
  -webkit-tap-highlight-color: transparent;
}

button {
  background-color: transparent;
  border: none;
}

html {
  height: 100%;
  margin-right: calc(-1 * (100vw - 100%));
}

a, a:visited{
  color: inherit;
  text-decoration: none !important;
}



body {
  margin: 0;
  background-color: var(--clr-bg-main);
  font-size: clamp(12px, 2vmin, 14px);
  color: var(--clr-black);
  overflow-x: hidden;
}

img {
  width: 100%;
  display: inline-block;
}

.body-wrapper {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
