.login-form__container{
    margin: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 2em;
    height: 50vh;
    min-height: 300px;
    background-color: var(--clr-light-gray);
    box-shadow: 1px 1px 1px rgb(172, 172, 172);
}

.login-form__title{
    margin-bottom: 1em;
    color: var(--clr-medium-gray)
}

.login-form__container .floatingInput{
    translate: .5em;
    color: var(--clr-medium-gray);
}